.alternate-content {
    height: 100%;
}

.avatar {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 24px;
    color: white;
    margin-right: 10px;
}

.bg-light {
    background-color: #e6e8eb !important;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

@media (max-width: 767px) {
    .btn-group {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}