<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-2" style="font-weight: bold;">Contact support</h1>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6 contact-item">
            <h2><b>✉️ Email</b></h2>
            <a href="mailto:support@splitwise.com"><h3>support&#64;splitwise.com</h3></a>
            <h5>We aim to reply to most support requests within 1 business day.</h5>
        </div>
        <div class="col-md-6 contact-item">
            <h2><b>❓Frequently asked questions</b></h2>
            <a href="http://feedback.splitwise.com"><h3>http://feedback.splitwise.com</h3></a>
            <h5>Find answers to common questions about Splitwise.</h5>
        </div>
    </div>
</div>
<div class="row">
    <app-footer></app-footer>
</div>